<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="css/weui.min.css"/>
    <link rel="stylesheet" href="css/borrow.css"/>
    <script type="application/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="js/borrow.js"></script>
    <title>书籍浏览.外借</title>

</head>
<body>
<div class="weui-navbar">
    <div class="weui-navbar__item weui-bar__item_on borrow">
        借.还书
    </div>
    <div class="weui-navbar__item person">
        我的借阅
    </div>
</div>
<div class="container">
    <div class="book-list">
        {% for book in book_list%}
        <div class="weui-panel__bd">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg book-item" id="book-{{book[0]}}">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb"
                         src="{{book[4]}}"
                         alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">{{book[1]}}</h4>
                    <p class="weui-media-box__desc origin-des">{{book[2][0:160]}}</p>
                </div>
                <div class="weui-media-box__bd">
                    {% if book[3] == 0 %}
                    <p class="weui-media-box__desc book-status" style="color: #04be02;font-size: medium">可外借</p>
                    {% end %}
                    {% if book[3] == 1 %}
                    <p class="weui-media-box__desc book-status" style="color: #ff0000;font-size: medium">已借出</p>
                    {% end %}
                    {% if book[3] == 2 %}
                    <p class="weui-media-box__desc book-status" style="color: #ff0000;font-size: medium">外借待办</p>
                    {% end %}
                    {% if book[3] == 3 %}
                    <p class="weui-media-box__desc book-status" style="color: #ff0000;font-size: medium">归还待办</p>
                    {% end %}
                </div>
            </a>
        </div>
        {% end %}
    </div>
</div>
<!-- 对话框1 -->
<div class="js_dialog" id="borrow-dlg" openid={{openid}} style="display:none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title">要借我吗？</strong></div>
        <div class="weui-dialog__bd book-des">书籍的介绍</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default give-up">算了,再看看</a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary borrow-it">借了它!</a>
        </div>
    </div>
</div>
<!-- 对话框1 -->
<div class="js_dialog" id="borrow-info" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd borrow_detail">好像被谁借走了呢？</div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary know-btn">知道了</a>
        </div>
    </div>
</div>
<div class="weui-footer weui-footer_fixed-bottom">
    <p class="weui-footer__links">
        <a href="#" class="weui-footer__link">小陈陈是管理员</a>
    </p>
    <p class="weui-footer__text">Copyright &copy; 2016-2017 star-chen.com</p>
</div>
</body>
</html>