<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="css/weui.min.css"/>
    <script type="application/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="application/javascript" src="js/check.js"></script>
    <title>小主，请审阅娘娘们的借书请求哦</title>
</head>
<body>
<div class="page" style="background: #f8f8f8;padding-top: 40px">
    {% if len(events) > 0 %}
    {% for event in events %}
    <div class="event" style="background: #ffffff;margin-top: 20px">
        <div class="weui-form-preview__hd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">书名:</label>
                <em class="weui-form-preview__value">{{event[1]}}</em>
            </div>
        </div>
        <div class="weui-form-preview__bd">

            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">{{event[3]}}:</label>
                <span class="weui-form-preview__value">{{event[2]}}于{{event[4]}}申请{{event[3]}}</span>
            </div>
        </div>
        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary check-btn" href="javascript:"
               book-id="{{event[5]}}">准了!</a>
        </div>
    </div>
    {% end %}
    {% end %}


</div>
</body>
</html>